<%-include("./partials/header")%>
<div class="h-screen  bg-black">
  <div class="w-[100%] h-[10%] bg-black   text-3xl font-bold text-red-600 flex items-center justify-evenly  ">
    <div class="flex items-center ml-[-12.5%] ">
    <h1 class="w-[35%] absolute left-[5vh] text-3xl text-white font-bold  ">Vido</h1>
    </div>
    <form class=" mr-[10%] w-[40%]" action="">
      <input class="text-[18px]  text-white w-[100%] py-1 rounded-[50px] pl-[20px] font-light bg-black border-[1px]  boder-white  " type="text" name="" placeholder="Search" id="">
    </form>
  </div>
  <nav class="bg-black text-white text-center h-[90%] w-[15%] py-2 mt-9">
    
    <a class="w-[100%] hover:bg-stone-800 font-bold px-[35%] ml-3 rounded-[10px] py-2  mt-[15px]" href="/">Home</a> 
    
    <br> <br>
    <a class=" hover:bg-stone-800 w-[100%] font-bold px-[15%]  ml-3 rounded-[10px]   py-2 mt-[10%]" href="/profile">Profile</a>
    <br> <br>
    <a class=" hover:bg-stone-800 w-[100%] font-bold px-[15%]  ml-3 rounded-[10px]   py-2 mt-[10%]" href="/login">Login</a>
    <hr class="mt-5">
    
  </nav>
  <div class="absolute left-[15%] top-[10%] w-[85%] h-[90%] bg-black flex justify-center items-center text-8xl text-center text-white">
    <h1 class=" ">Welcome to the <br> YouTube</h1>
  </div>
</div>
<%-include("./partials/footer")%>